absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioredis==2.0.1
aiosignal==1.4.0
aiosqlite==0.21.0
akracer==0.0.14
akshare==1.17.83
alembic==1.12.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
appdirs==1.4.4
APScheduler==3.10.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.2.0
async-timeout==5.0.1
asyncpg==0.29.0
attrs==25.4.0
Authlib==1.6.5
babel==2.18.0
backports.tarfile==1.2.0
baostock==0.8.9
bcrypt==5.0.0
beartype==0.22.7
beautifulsoup4==4.14.2
black==23.11.0
bleach==6.3.0
blinker==1.9.0
bs4==0.0.2
build==1.3.0
CacheControl==0.14.3
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cleo==2.2.1
click==8.3.1
cloud-init==23.2.1
comm==0.2.3
configobj==5.0.8
contourpy==1.3.3
cryptography==46.0.2
cycler==0.12.1
cyclopts==4.3.0
dbus-python==1.3.2
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
diskcache==5.6.3
distlib==0.4.0
distro==1.8.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.3
dulwich==0.24.2
ecdsa==0.19.1
email-validator==2.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.115.2
fastjsonschema==2.21.2
fastmcp==2.13.1
file-magic==0.4.0
filelock==3.19.1
findpython==0.7.0
flake8==6.1.0
Flask==3.0.0
flatbuffers==25.12.19
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.7
frozenlist==1.8.0
gast==0.7.0
google-pasta==0.2.0
gpg==1.21.0
greenlet==3.2.4
grpcio==1.78.0
h11==0.16.0
h5py==3.14.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
idna==3.11
importlib_metadata==8.7.0
iniconfig==2.3.0
installer==0.7.0
iotop==0.6
ipykernel==7.2.0
ipympl==0.10.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.4
joblib==1.5.3
json5==0.13.0
jsonpatch==1.33
jsonpath==0.82.2
jsonpointer==2.4
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keras==3.13.2
keyring==25.6.0
kiwisolver==1.4.9
lark==1.3.1
libclang==18.1.1
libcomps==0.1.19
loguru==0.7.2
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.8.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mcp==1.22.0
mcp-feedback-enhanced==2.6.0
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.4
more-itertools==10.8.0
msgpack==1.1.1
multidict==6.7.0
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.1.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook==7.5.4
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
openapi-pydantic==0.5.1
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
overrides==7.7.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.6
passlib==1.7.4
pathable==0.4.4
pathspec==0.12.1
pathvalidate==3.3.1
pbs-installer==2025.9.18
pexpect==4.9.0
pillow==12.0.0
pkginfo==1.12.1.2
platformdirs==4.4.0
playwright==1.58.0
plotly==5.17.0
pluggy==1.6.0
poetry==2.2.1
poetry-core==2.2.1
prettytable==3.8.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==7.34.0
psutil==7.1.3
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
py-key-value-aio==0.2.8
py-key-value-shared==0.2.8
py-mini-racer==0.6.0
pyasn1==0.6.1
pycodestyle==2.11.1
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyee==13.0.1
pyflakes==3.1.0
Pygments==2.19.2
PyGObject==3.46.0
PyJWT==2.10.1
pyparsing==3.0.9
pyperclip==1.11.0
pyproject_hooks==1.2.0
pyrsistent==0.19.3
pyserial==3.5
PySocks==1.7.1
pytest==7.4.3
pytest-asyncio==0.21.1
python-dateutil==2.8.2
python-dotenv==1.2.1
python-jose==3.3.0
python-json-logger==4.0.0
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
redis==5.0.1
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.29.0
rpm==4.18.2
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.1
SecretStorage==3.4.0
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
Send2Trash==2.1.0
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.2
shellingham==1.5.4
simplejson==3.20.2
six==1.16.0
sniffio==1.3.1
sos==4.6.0
soupsieve==2.8
SQLAlchemy==2.0.23
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.40.0
tabulate==0.9.0
tenacity==9.1.2
tensorflow==2.21.0
termcolor==3.3.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomlkit==0.13.3
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.9.11.17
tushare==1.2.89
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
urllib3==2.5.0
uv==0.9.13
uvicorn==0.32.0
uvloop==0.22.1
virtualenv==20.34.0
watchfiles==1.1.1
wcwidth==0.2.6
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
widgetsnbextension==4.0.15
wrapt==2.1.2
xlrd==2.0.2
xlsxwriter==3.2.9
yarl==1.22.0
yfinance==0.2.28
zipp==3.23.0
zstandard==0.25.0
